EXPO_PUBLIC_APP_ENV=local
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_API_KEY=
EXPO_PUBLIC_BAUBOOK_SPONSORED_LITE_ENABLED=false
EXPO_PUBLIC_BAUBOOK_CONTACT_EMAIL=
EXPO_PUBLIC_BAUBOOK_PRIVACY_URL=
EXPO_PUBLIC_BAUBOOK_TERMS_URL=
EXPO_PUBLIC_BAUBOOK_DELETE_ACCOUNT_URL=
