# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# JetBrains user-specific files
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Local environment / secrets
.env
.env.*
!.env.example

_baubook_work/
_baubook_backups/
baubook_*.zip
baubook_*.zip

supabase/.temp/

# Local Android debug signing keys
android/app/keystores/*.keystore

# Local Android config
android/local.properties
/app.json
